NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>

DATABASE_URL=<DATABASE_URL>

NEXT_PUBLIC_DISABLE_AUTH=true
NEXT_PUBLIC_LOCAL_DB=false

NEXT_PUBLIC_THUMBNAILS_BUCKET_URL=<SUBSTITUTE_BUCKET_URL>
LOCAL_SQLITE_URL=/Users/caden/Programming/interp-workbench/test.db
NEXT_PUBLIC_HCAPTCHA_SITEKEY=2db21c40-00b4-4eb4-96b4-67e66f2c678a