[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "fastapi>=0.115.6",
    "nnsight",
    "toml>=0.10.2",
    "uvicorn>=0.32.1",
]